In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("annual_data.csv")
# showing the data from the start position
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...

In [8]:
# Tail function is used to show the data frem the end

df.tail(10) # here the last 10 data is showing

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
50975,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H32,Current liabilities,Financial position,"10,212","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50976,2013,Level 3,ZZ11,Food product manufacturing,Dollars (millions),H33,Other liabilities,Financial position,"2,220","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50977,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H34,Total income per employee count,Financial ratios,"523,700","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50978,2013,Level 3,ZZ11,Food product manufacturing,Dollars,H35,Surplus per employee count,Financial ratios,"17,700","ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50979,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H36,Current ratio,Financial ratios,91,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50980,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50981,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50982,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50983,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
50984,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [13]:
# dtypes function is used to show the data type of the colum, or head

df.dtypes

Year                            int64
Industry_aggregation_NZSIOC    object
Industry_code_NZSIOC           object
Industry_name_NZSIOC           object
Units                          object
Variable_code                  object
Variable_name                  object
Variable_category              object
Value                          object
Industry_code_ANZSIC06         object
dtype: object

In [14]:
# calculating mean,std(standard deviation, min, max,total data etc)
df.describe()

               Year
count  50985.000000
mean    2018.000000
std        3.162309
min     2013.000000
25%     2015.000000
50%     2018.000000
75%     2021.000000
max     2023.000000

In [17]:
df[["Year","Industry_name_NZSIOC","Units","Variable_name"]]

,Year,Industry_name_NZSIOC,Units,Variable_name
0,2023,All industries,Dollars (millions),Total income
1,2023,All industries,Dollars (millions),"Sales, government funding, grants and subsidies"
2,2023,All industries,Dollars (millions),"Interest, dividends and donations"
3,2023,All industries,Dollars (millions),Non-operating income
4,2023,All industries,Dollars (millions),Total expenditure
...,...,...,...,...
50980,2013,Food product manufacturing,Percentage,Quick ratio
50981,2013,Food product manufacturing,Percentage,Margin on sales of goods for resale
50982,2013,Food product manufacturing,Percentage,Return on equity
50983,2013,Food product manufacturing,Percentage,Return on total assets
50984,2013,Food product manufacturing,Percentage,Liabilities structure

In [21]:
# showing all the columns
df.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [24]:
# showing a specific column
df[["Industry_name_NZSIOC"]]

             Industry_name_NZSIOC
0                  All industries
1                  All industries
2                  All industries
3                  All industries
4                  All industries
...                           ...
50980  Food product manufacturing
50981  Food product manufacturing
50982  Food product manufacturing
50983  Food product manufacturing
50984  Food product manufacturing

[50985 rows x 1 columns]

In [25]:
# slicing the data
df[["Industry_name_NZSIOC"]][5:21] # here the data is showing from 5 to 20 index

   Industry_name_NZSIOC
5        All industries
6        All industries
7        All industries
8        All industries
9        All industries
10       All industries
11       All industries
12       All industries
13       All industries
14       All industries
15       All industries
16       All industries
17       All industries
18       All industries
19       All industries
20       All industries

In [26]:
# creating a new column with values

df["new_col"] =0

In [27]:
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,new_col
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...,0
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...,0
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...,0
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...,0
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...,0
...,...,...,...,...,...,...,...,...,...,...,...
50980,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",0
50981,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",0
50982,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",0
50983,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",0
50984,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",0

In [28]:
#creating a column in a specific position

df.insert(loc = 2, column = "new_info", value=5)

In [29]:
df

,Year,Industry_aggregation_NZSIOC,new_info,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,new_col
0,2023,Level 1,5,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...,0
1,2023,Level 1,5,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...,0
2,2023,Level 1,5,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...,0
3,2023,Level 1,5,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...,0
4,2023,Level 1,5,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...,0
...,...,...,...,...,...,...,...,...,...,...,...,...
50980,2013,Level 3,5,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",0
50981,2013,Level 3,5,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",0
50982,2013,Level 3,5,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",0
50983,2013,Level 3,5,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",0
50984,2013,Level 3,5,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",0